/*------------------
      HEADER 
 -----------------*/
.header {
  background-color: var(--color-header);
  transition: var(--transition-slow);
}

.header__logo {
  fill: var(--color-logo);
}

.header__theme-toggle {
  /* center the icon */
  display: flex;
  align-items: center;

  cursor: pointer;
  background-color: var(--color-theme_toggle-background);
  border: none;
  border-radius: var(--radius-sm);
  transition: var(--transition-base);
}

.header__theme-toggle:hover {
  background-color: var(--color-theme_toggle_hover-background);
}

.header__icon {
  stroke: var(--color-theme_toggle_icon-stroke);
}

/*------------------------
    HOMEPAGE FILTER BAR
 ------------------------*/
.filter-bar {
  --justify-content: center;
}

@media (min-width: 529px) {
  .filter-bar {
    --justify-content: space-between;
  }
}

.filter-bar__filters {
  --gap: var(--space-xxs);
}

@media (min-width: 270px) {
  .filter-bar__filters {
    --justify-content: center;
  }
}

.filter-bar__filter {
  --radius: var(--radius-full);
  --padding-inline: var(--space-md);
  --padding-block: var(--space-xxs);

  background-color: var(--color-filter-background);
  color: var(--color-filter);
}

.filter-bar__filter:hover {
  background-color: var(--color-filter-hover-background);
}

.filter-bar__filter[aria-pressed='true'],
.filter-bar__filter[aria-pressed='true']:hover {
  background-color: var(--color-filter-active-background);
  color: var(--color-filter-active);
}

/*----------------------------------*
       ♥️ HOMEPAGE CARD
*----------------------------------*/

.cards__list-item {
  list-style-type: none;
}

/* .cards__list-item[data-status='active'] {
  display: block;
}

.cards__list-item[data-status='inactive'] {
  display: none;
} */

.card {
  background-color: var(--color-card-background);
}

.card__title {
  color: var(--color-card-title);
}

.card__text {
  color: var(--color-card-text);
}

.card__remove-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-card-button-background);
  border: 1px solid var(--color-card-button-border);
  border-radius: var(--radius-full);
  color: var(--color-card-button-text);
  font-size: var(--font-size-0);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.card__remove-button:hover {
  background-color: var(--color-card-button-background-hover);
  color: var(--color-card-button-text-hover);
}

.card__switch {
  position: relative;

  background-color: var(--color-card-button-switch-background-inactive);
  border-radius: var(--radius-full);
  height: 1.5rem;
  width: 3rem;
}

.card__status-indicator {
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--color-card-button-switch-background-indicator);
  border-radius: 50%;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;

  transition: var(--transition-base);
}

.card__switch[aria-pressed='true'] {
  background-color: var(--color-card-button-switch-background-active);
}

.card__switch[aria-pressed='true'] .card__status-indicator {
  left: 1.5rem;
}
