/*------------------
      HEADER 
 -----------------*/
.header {
  background-color: var(--color-header);
  transition: var(--transition-slow);
}

.header__logo {
  fill: var(--color-logo);
}

.header__theme-toggle {
  /* center the icon */
  display: flex;
  align-items: center;

  cursor: pointer;
  background-color: var(--color-theme_toggle-background);
  border: none;
  border-radius: var(--radius-sm);
  transition: var(--transition-base);
}

.header__theme-toggle:hover {
  background-color: var(--color-theme_toggle_hover-background);
}

.header__icon {
  stroke: var(--color-theme_toggle_icon-stroke);
}

/*------------------
    FILTER BAR
 -----------------*/
.filter-bar {
  --justify-content: center;
}

@media (min-width: 529px) {
  .filter-bar {
    --justify-content: space-between;
  }
}

.filter-bar__filters {
  --spacer: var(--space-xxs);
}

@media (min-width: 270px) {
  .filter-bar__filters {
    --justify-content: center;
  }
}

.filter-bar__filter {
  --radius: var(--radius-full);
  --spacer: 0;
  padding-inline: var(--space-md);
  padding-block: var(--space-xxs);

  background-color: var(--color-filter-background);
  color: var(--color-filter);
}

.filter-bar__filter:hover {
  background-color: var(--color-filter-hover-background);
}

.filter-bar__filter:active {
  background-color: var(--color-filter-active-background);
}
