/*----------------------------------*
       ♥️ HOMEPAGE CARD
*----------------------------------*/
.cards__list {
  row-gap: 1.5rem;
}

.cards__list-item {
  --measure: none;
  padding: 0;

  /* Making the cards equal height regardless of content pt.1 */
  display: flex;
}

.card {
  max-width: 414px;

  /* Making the cards equal height regardless of content pt.2 */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 470px) {
  .card {
    --padding-inline: var(--space-lg);
    --padding-block: var(--space-lg);
  }
}

.card__top {
  padding: 0;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card__logo {
  flex-shrink: 0;
  transform: translateY(5px);
}

.card__bottom {
  --spacer: var(--space-lg);

  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
